
CDS_API_KEY=0cafab62-e94a-44be-ae74-2950b10ddb1d
TRANSITLAND_API_KEY=hPK1cZl5ja3F4w9OaQ9X0rPBSmEWTKb3
SECRET_KEY=your-django-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
GEE_SERVICE_ACCOUNT=zonescorer-gee@zonescorer.iam.gserviceaccount.com
GEE_KEY_FILE=C:\Users\chedi\OneDrive\Desktop\hackathon\zonescorer-87772645845d.json